<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    
    <body class="login">
        <div class="main container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        <% if(color === 1) { %>
                            You are in game room #<%=gameid %>.<br>
                            Your color is RED.<br>
                            <br>
                            <span id="status">Waiting for BLUE to join.</span>
                        <% } else { %>
                            You are in game room #<%=gameid %>.<br>
                            Your color is BLUE.<br>
                            <br>
                            <span id="status">Waiting for RED to move.</span>
                        <% } %>
                    </h1>
                    <div class="c4-board">
                        <div class="c4-control">
                            <div id="0" class="piece"></div><div id="1" class="piece"></div><div id="2" class="piece"></div><div id="3" class="piece"></div><div id="4" class="piece"></div><div id="5" class="piece"></div><div id="6" class="piece"></div>
                        </div>
                        <div class="c4-grid">
                            <div id="00"></div><div id="10"></div><div id="20"></div><div id="30"></div><div id="40"></div><div id="50"></div><div id="60"></div>
                            <div id="01"></div><div id="11"></div><div id="21"></div><div id="31"></div><div id="41"></div><div id="51"></div><div id="61"></div>
                            <div id="02"></div><div id="12"></div><div id="22"></div><div id="32"></div><div id="42"></div><div id="52"></div><div id="62"></div>
                            <div id="03"></div><div id="13"></div><div id="23"></div><div id="33"></div><div id="43"></div><div id="53"></div><div id="63"></div>
                            <div id="04"></div><div id="14"></div><div id="24"></div><div id="34"></div><div id="44"></div><div id="54"></div><div id="64"></div>
                            <div id="05"></div><div id="15"></div><div id="25"></div><div id="35"></div><div id="45"></div><div id="55"></div><div id="65"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
        <% include partials/footer.ejs %>

<script>

// enumeration
var empty = 0, red = 1, blue = 2; // colors
var waiting = 0, started = 1, gameOver = 3; // game status
var start = 0, move = 1; // action
var tie = 0, redWins = 1, blueWins = 2; // results

var gameid = <%=gameid %>;
var color = <%=color %>;
var event = 'c4' + gameid.toString() + '-' + color.toString();

var cssClass = 'red';

if(color === blue) {
    var cssClass = 'blue';
}

console.log(cssClass);

var turn = false;

var socket = io();

console.log("listening " + event);

function switchTurn() {
    if(turn) {
        console.log('not turn');
        
        $("div.c4-control div.piece").unbind();
        
        turn = false;
    } else {
        console.log('turn');
        
        $("div.c4-control div.piece").hover(
            // hover over
            function () {
                $(this).addClass(cssClass);
            },
            // hover out
            function () {
                $(this).removeClass(cssClass);
            }
        );
        
        $("div.c4-control div.piece").click(function () {
            var column = parseInt($(this).attr("id"));
            /* for (var row = 6; row > 0; row--) {
                var id = '#' + row + column;
                if ($(id).attr("class") === undefined) {
                    if (turn == red) {
                        $(id).addClass("piece").addClass("red");
                        //turn = blue;
                    }
                    else {
                        $(id).addClass("piece").addClass("blue");
                        //turn = red;
                    }
        
                    if (row === 1) {
                        $("#" + column).removeClass("piece");
                    }
        
                    break;
                }
            } */
            
            $(this).removeClass(cssClass);
            
            var moveJSON = {'gameid': gameid, 'color': turn, 'action': move, 'column':column };

            socket.emit('move', moveJSON);
        });
        
        turn = true;
    }
}

socket.on(event.toString(), function(json) {
    console.log("on " + JSON.stringify(json));
    if(json.action === start || json.action === move) {
        switchTurn();
    }
});

// Inform server BLUE has joined and that the game can start.
if(color === blue) {
    socket.emit('c4', {'gameid': gameid, 'color': color, 'action': start });
}

</script>

<!--script>

var eventid = '';
var socket = io();

socket.on(eventid.toString(), function(msg) {
    console.log("on " + eventid.toString() + ' ' + msg);    
});

socket.emit('action', eventid.toString());
    
</script-->
    </body>
</html>