<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Connect4</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/About" >About!</a></li>
            <li><a href="/FAQ" >FAQs!</a></li>
        </ul>
    </div>
  </div>
</div>