.login .main {
	padding-top: 40px;
}


.default .main {
	padding-top: 20px;
}

.main-nav {
	margin-bottom: 25px;
}

.center {
	text-align: center;
}

.pad {
	padding-top: 20px;
}

.form-control{
	margin-left: 1em;
}

.container { width: 1172px !important; }

/*** Connect4 Board ***/
h1 { text-align:center }

div.c4-board { width: 531px; margin: 0 auto; }
div.c4-control div, div.c4-grid div { box-sizing: border-box; float: left; height: 75px; width: 75px }
div.c4-grid div { border: 1px dotted #ccc }
div.piece { border-radius: 50% }
div.piece.red { background-color: #f00 }
div.piece.blue { background-color: #0034ff }